* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
}

body, html {
  height: 100%;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: #292B2F;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: transparent;
}

.tippy-box[data-theme~='discord'] {
  background-color: #18191c;
  text-align: center;
  font-family: 'Whitney Book';
  font-size: 17px;
  padding: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  transform: translateY(-5px);
  display: flex;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 150px;
  border-radius: 7px;
  .tippy-arrow {
    &::before {
      border-color: #18191c transparent transparent;
      transform: translateY(-2.5px);
    }
  }
}

.tippy-box[data-animation="discord"][data-state='hidden'] {
  opacity: 0;
  transform: translateY(5px) scale(0.8);
}

.click-to-learn-more {
  color: #b9bbbe;
}

.container {
  transform: scale(1.8);
  width: 225px;
  height: max-content;
  background-color: #18191C;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  .bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 40px;
    position: relative;
    padding-left: 12px;
    padding-bottom: 5px;
    div {
      span {
        font-size: 9.11px;
        font-weight: bold;
        margin-bottom: 8px;
        font-family: 'Whitney Bold';
        color: #B9BBBE;
        user-select: none;
      }
      &.note {
        margin-top: 15px;
        display: flex;
        align-items: left;
        flex-direction: column;
        textarea {
          max-width: 200px;
          background: none;
          resize: none;
          padding-top: 4.5px;
          padding-bottom: 3px;
          padding-right: 3px;
          border-radius: 2.5px;
          border: none;
          display: flex;
          transform: translate(-4px, -7px);
          padding-left: 4px;
          font-family: 'Whitney Medium';
          outline: none;
          font-size: 8px;
          line-height: 14px;
          height: 35px;
          color: #B9BBBE;
          word-break: break-all;
          &::placeholder {
            color: #B9BBBE;
            user-select: none;
          }
          &:focus {
            background-color: #202225;
          }
          &:focus::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: #292B2F;
          }
        }
      }
      &.about-me {
        .bio {
          p {
            .emoji {
              width: 15px;
              height: 15px;
              margin-left: 1px;
              margin-right: 1px;
            }
            line-height: 18px;
            white-space: pre-wrap; 
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            margin-top: 6px;
            font-family: 'Whitney Medium';
            font-size: 10.5px;
            color: #DCDDDE;
            img {
              transform: translateY(3.5px);
              width: 13px;
              cursor: pointer;
            }
            a {
              color: #00AFF4;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .top {
    display: flex;
    flex-direction: column;
    height: 123.5px;
    position: relative;
    .hr {
      z-index: 99;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: 201px;
        background-color: #262729;
        height: 1px;
        margin-top: 30px;
      }
    }
    .banner {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      width: 100%;
      min-height: 90px;
      background-color: rgb(215, 157, 133);
      background-image: url();
      background-size: cover;
      background-position: center;
      flex: 1;
      position: relative;
      overflow: hidden;
      div {
        transition: all 0.1s ease;
        opacity: 0;
        position: absolute;
        top: -5px;
        right: 5px;
        width: 19px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 13px;
        svg {
          width: 12px;
          height: 13px;
          border-radius: 12px;
          position: absolute;
          top: -0.4px;
          right: 4.5px;
        }
      }
      &:hover {
        div {
          opacity: 1;
          top: 5px;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .right {
        .badges {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding-right: 17px;
          padding-top: 14px;
          ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            max-width: 135px;
            li {
              cursor: pointer;
              width: 12px;
              height: 12px;
              background-size: cover;
              background-position: center;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 3px;
              margin-right: 3px;
              &.employee {
                background-image: url('/badges/employee.svg');
              }
              &.partner {
                height: 9px;
                transform: translateY(1.5px);
                background-image: url('/badges/partner.svg');
              }
              &.moderator {
                width: 10.91px;
                background-image: url('/badges/moderator.svg');
              }
              &.nitro {
                width: 16px;
                height: 11px;
                transform: translateY(1px);
                background-image: url('/badges/nitro.svg');
              }
              &.balance {
                background-image: url('/badges/balance.svg');
              }
              &.supporter {
                width: 17.15px;
                background-image: url('/badges/supporter.svg');
              }
              &.botdev {
                width: 15px;
                background-image: url('/badges/botdev.svg');
              }
              &.boost {
                margin-left: 5px;
                width: 7.05px;
                background-image: url('/badges/boost.svg');
              }
              &.bravery {
                background-image: url('/badges/bravery.svg');
              }
              &.bug1 {
                width: 12.71px;
                background-image: url('/badges/bug1.svg');
              }
              &.bug2 {
                width: 12.69px;
                background-image: url('/badges/bug2.svg');
              }
              &.brilliance {
                width: 13.2px;
                background-image: url('/badges/brilliance.svg');
              }
              &.events {
                width: 13.2px;
                background-image: url('/badges/events.svg');
              }
            }
          }
        }
      }
      .left {
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .username {
          font-family: 'Ginto';
          font-weight: 600;
          font-size: 15px;
          padding-top: 37px;
          height: 20px;
          .discriminator {
            color: #b9bbbe;
          }
        }
        .avatar {
          background-image: url(https://cdn.discordapp.com/attachments/925563605238292490/975501217948123186/5174518cef622053409c30586457be40.jpg?size=1024);
          background-size: cover;
          background-position: center;
          width: 60px;
          height: 60px;
          border: 5px solid #18191C;
          position: absolute;
          border-radius: 100%;
          transform: translateY(-50%);
          .status {
            width: 19px;
            height: 19px;
            border-radius: 100%;
            border: 4px solid #18191C;
            position: absolute;
            top: 85%;
            left: 90%;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-position: center;
            background-color: #18191C;
            &.online {
              background-color: #3BA55C;
            }
            &.idle {
              background-image: url('/status/idle.svg');
            }
            &.dnd {
              background-image: url('/status/dnd.svg');
            }
            &.offline {
              background-image: url('/status/offline.svg');
            }
            &.streaming {
              background-image: url('/status/streaming.svg');
            }
          }
        }
      }
    }
  }
}